{% extends 'base_old.html' %}
{% load static %}

{% block content %}

<div class="col-xs-12" style="height:50px;"></div>
{% load crispy_forms_tags %}
    <div class="container-fluid">
        <form action="/login/" method="POST" style="...">
            {% csrf_token %}
            <div class="mb-3 col-sm-4">
                <label for="mitgliederkennung" class="form-label">Mitgliederkennung</label>
                <input type="text" id="mitgliederkennung" name="mitgliederkennung">
            </div>
            <div class="mb-3 col-sm-4">
                <label for="passwort">Passwort</label>
                <input type="password" id="passwort" name="passwort">
            </div>
            <div class="mb-3 col-sm-4">
                <input type="submit" class="btn btn-lg btn-primary" value="Anmelden">
            </div>
        </form>
    </div>

{% endblock content %}
