<div>
  <label class="mdc-text-field mdc-text-field--filled">
    <span class="mdc-text-field__ripple"></span>
    <span class="mdc-floating-label" >Medikamentenname</span>
    <input class="mdc-text-field__input" type="text" [(ngModel)]="medikamentenbestellung.medikamentenname" aria-labelledby="my-label-id">
    <span class="mdc-line-ripple"></span>
  </label>
</div>
<div>
  <label class="mdc-text-field mdc-text-field--filled">
    <span class="mdc-text-field__ripple"></span>
    <span class="mdc-floating-label" >Menge</span>
    <input class="mdc-text-field__input" [(ngModel)]="medikamentenbestellung.menge" type="text" aria-labelledby="my-label-id">
    <span class="mdc-line-ripple"></span>
  </label>
</div>
<div>
  <button class="mdc-button "><span class="mdc-button__ripple" (click)="save()"></span>
    <span class="mdc-button__label" >Bestellen</span></button>
</div>

<h3>{{medikamentenbestellung.medikamentenname}}</h3>
<h3>{{medikamentenbestellung.menge}}</h3>

