{% extends 'base_old.html' %}
{% load static %}

{% block content %}

<form action="/medikamentenbestellung/" method="POST">
    {% csrf_token %}
    <div>
        <label class="mdc-text-field mdc-text-field--filled">
            <span class="mdc-text-field__ripple"></span>
            <span class="mdc-floating-label" >Mitgliederkennung</span>
            <input class="mdc-text-field__input" type="text" id="mitgliederkennung"  aria-labelledby="my-label-id">
            <span class="mdc-line-ripple"></span>
        </label>
    </div>
    <div>
        <label class="mdc-text-field mdc-text-field--filled">
            <span class="mdc-text-field__ripple"></span>
            <span class="mdc-floating-label" >Passwort</span>
            <input class="mdc-text-field__input"  type="text"  id="Passwort" aria-labelledby="my-label-id">
            <span class="mdc-line-ripple"></span>
        </label>
    </div>
    <div>
        <button class="mdc-button "><span class="mdc-button__ripple" ></span>
            <span class="mdc-button__label_form" formaction="{% url 'medikament bestellen' %}">Einloggen</span></button>
    </div>
</form>
{% endblock content %}
