{% extends 'base_old.html' %}
{% load static %}

{% block content %}
<div class="container center_div">
<form action="/krankenkasseLogin/" method="post">
    {% csrf_token %}
    <div class="form-group form-group w-25 center">
        <label for="exampleFormControlSelect1" class="col-form-label">Ich bin...</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>Arzt</option>
            <option>Patient</option>
            <option>Apotheke</option>
        </select>
    </div>
    <div class="form-group form-group w-25">
        <label for="exampleFormControlSelect2">Example multiple select</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        <input type="submit" class="btn btn-lg btn-primary" value="Anmelden">
</form>
</div>
{% endblock content %}
