
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">

{% block content %}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Nr.</th>
        <th scope="col">Medikament</th>
        <th scope="col">Wochentag</th>
        <th scope="col">Uhrzeit</th>
        <th scope="col">Menge</th>
    </tr>
    </thead>
    <tbody>
        {% for i in medikamentenplan %}
        <tr>
            <td></td>
            <td>{{i.medikament.medikamentenname}}</td>
            <td>{{i.wochentag}}</td>
            <td>{{i.uhrzeit}}</td>
            <td>{{i.menge}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock content %}

