{% extends 'base_arzt.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'styles.css' %}">

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Nr.</th>
        <th scope="col">Patient</th>
        <th scope="col">Medikamentenname</th>
        <th scope="col">Menge</th>
        <th scope="col">Dosierung</th>
        <th scope="col">Auswahl</th>
    </tr>
    </thead>
    <tbody>
    {% for i in medikamentenbestellung %}
    <tr>
        <td></td>
        <td>{{i.patient.nachname}}</td>
        <td>{{i.medikamentenname.medikamentenname}}</td>
        <td>{{i.menge}}</td>
        <td>{{i.dosierung}}</td>
        <td>
            <form action="/BestellungBestätigen/" method="POST">
                <input type="hidden" name="id" id="id">{{i.id}}</input>
                <input type="submit" value="Bestätigen" />
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<p>{{medikamentenbestellung.length}}</p>
{% endblock content %}


