{% extends 'base_patient.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'styles.css' %}">

{% block content %}

<div class="col-xs-12" style="height:50px;"></div>

    <div class="container-fluid">
        <form action="/medikamentenbestellung/" method="POST" style="...">
            {% csrf_token %}

        <div class="form-group form-group w-50 center">
            <label for="bestellung_medi" class="col-form-label">Medikamentenname</label>
            <select class="form-control" id="bestellung_medi" name="bestellung_medi">
                <option value="Aspirin">Aspirin</option>
                <option value="Ibuprophen">Ibuprophen</option>
                <option value="Marcomar ">Marcomar </option>
            </select>
        </div>

        <div class="form-group form-group w-50 center">
            <label for="bestellung_dosierung" class="col-form-label">Dosierung</label>
            <select class="form-control" id="bestellung_dosierung" name="bestellung_dosierung">
                <option value="100mg">100mg</option>
                <option value="125mg">125mg</option>
                <option value="150mg">150mg</option>
            </select>
        </div>

        <div class="form-group form-group w-50 center">
            <label for="bestellung_menge" class="col-form-label">Menge</label>
            <select class="form-control" id="bestellung_menge" name="bestellung_menge">
                <option value="50 Tabletten">50 Tabletten</option>
                <option value="100 Tabletten">100 Tabletten</option>
                <option value="200 Tabletten">200 Tabletten</option>
            </select>
        </div>

        <div class="mb-3 col-sm-4">
            <input type="submit" class="btn btn-lg btn-primary" value="Bestellen" />
        </div>
    </div>
</form>


<script>
    var Bestellmodalitaet = document.querySelector('input[type="radio"][name="flexRadioDefault"]:checked').val();
    $("#Bestellmodalitaet").attr("value", "cv");
</script>
{% endblock content %}


