{% extends 'base_patient.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'styles.css' %}">

{% block content %}

<div class="col-xs-12" style="height:50px;"></div>

    <div class="container-fluid">
        <form action="/medikamentenbestellung/" method="POST" style="...">
            {% csrf_token %}
            <div class="mb-3 col-sm-4">
                <label for="medikamentenname">Medikamentenname</label>
                <select multiple class="form-control" id="medikamentenname" name="medikamentenname">
                    {% for i in medikamente %}
                    <option>{{i.medikamentenname}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3 col-sm-4">
                <label for="dosierung">Dosierung</label>
                    <input type="text" id="dosierung" class="form-control" name="dosierung">
            </div>
            <div class="mb-3 col-sm-4">
                <label for="menge">Menge</label>
                    <input type="text" id="menge" class="form-control" name="menge">
            </div>
            <div class="mb-3 col-sm-4">
                <label for="apotheke">Apotheke</label>
                <select multiple class="form-control" id="apotheke" name="apotheke">
                    {% for i in apotheken %}
                    <option>{{i.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3 col-sm-4 ">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="auswahl1" name="auswahl" value="True" checked="checked">
                    <label class="form-check-label" for="auswahl1">
                        Abholung
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="auswahl2" name="auswahl" value="False">
                    <label class="form-check-label" for="auswahl2">
                        Lieferung
                    </label>
                </div>
            </div>
            <input type="hidden" class ="Bestellmodalitaet"  id="Bestellmodalitaet" name="Bestellmodalitaet" value="bn">
            <div class="mb-3 col-sm-4">
                <input type="submit" class="btn btn-lg btn-primary" value="Bestellen">
            </div>
        </form>

<!--        <div class="form-group form-group w-50 center">
            <label for="bestellung_medi" class="col-form-label">Medikamentenname</label>
            <select class="form-control" id="bestellung_medi" name="bestellung_medi">
                <option value="Aspirin">Aspirin</option>
                <option value="Ibuprophen">Ibuprophen</option>
                <option value="Marcomar ">Marcomar </option>
            </select>
        </div>

        <div class="form-group form-group w-50 center">
            <label for="bestellung_dosierung" class="col-form-label">Dosierung</label>
            <select class="form-control" id="bestellung_dosierung" name="bestellung_dosierung">
                <option value="100mg">100mg</option>
                <option value="125mg">125mg</option>
                <option value="150mg">150mg</option>
            </select>
        </div>

        <div class="form-group form-group w-50 center">
            <label for="bestellung_menge" class="col-form-label">Menge</label>
            <select class="form-control" id="bestellung_menge" name="bestellung_menge">
                <option value="50 Tabletten">50 Tabletten</option>
                <option value="100 Tabletten">100 Tabletten</option>
                <option value="200 Tabletten">200 Tabletten</option>
            </select>
        </div>

        <div class="mb-3 col-sm-4">
            <input type="submit" class="btn btn-lg btn-primary" value="Bestellen" />
        </div>
    </div>
</form>-->


<script>
    var Bestellmodalitaet = document.querySelector('input[type="radio"][name="flexRadioDefault"]:checked').val();
    $("#Bestellmodalitaet").attr("value", "cv");
</script>
{% endblock content %}


