
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">

{% block content %}
<div class="col-xs-12" style="height:50px;"></div>

<div class="container-sm col-sm-8 row justify-content-center">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nr.</th>
            <th scope="col">Medikament</th>
            <th scope="col">Wochentag</th>
            <th scope="col">Uhrzeit</th>
            <th scope="col">Menge</th>
        </tr>
        </thead>
        <tbody>
            {% for i in medikamentenplan.medikamente.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{i.medikament.medikamentenname}}</td>
                <td>{{i.wochentag}}</td>
                <td>{{i.uhrzeit}}</td>
                <td>{{i.menge}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}

