
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">

{% block content %}
<div class="col-xs-12" style="height:50px;"></div>

<div class="container-sm col-sm-8 row justify-content-center">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nr.</th>
            <th scope="col">Medikament</th>
            <th scope="col">Menge</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        {% for i in bestellungen %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{i.medikamentenname.medikamentenname}}</td>
            <td>{{i.menge}}</td>
            <td>{{i.status}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}
