
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% block content %}
<div class="col-xs-12" style="height:50px;"></div>
<div class="container-sm col-sm-8 row justify-content-center">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Attribut</th>
            <th scope="col">Wert</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Vorname</td>
            <td>{{arzt.vorname}}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{arzt.nachname}}</td>
        </tr>
        <tr>
            <td>Strasse</td>
            <td>{{arzt.strasse}}</td>
        </tr>
        <tr>
            <td>Nr.</td>
            <td>{{arzt.nr}}</td>
        </tr>
        <tr>
            <td>PLZ</td>
            <td>{{arzt.plz}}</td>
        </tr>
        <tr>
            <td>Wohnort</td>
            <td>{{arzt.ort}}</td>
        </tr>
        </tbody>
    </table>

</div>
    {% endblock content %}
